@using System.Threading.Tasks
@using Claimini.BlazorClient.Dto
@using Microsoft.AspNetCore.Blazor.Components
@page "/customers/detail/{customerId}"
@inject IApiClient apiClient;

<h1>Customer @CustomerId</h1>
@if (customer == null)
{
    <p><em>Loading Customer...</em></p>
}
else
{
    <table class="table">
        <tr>
            <th>Id</th>
            <td>@customer.Id</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@customer.Name</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@customer.StreetAddress</td>
        </tr>
        <tr>
            <th>Additional Address</th>
            <td>@customer.StreetAddressAdditional</td>
        </tr>
        <tr>
            <th>Zip</th>
            <td>@customer.ZipCode</td>
        </tr>
        <tr>
            <th>City</th>
            <td>@customer.City</td>
        </tr>
        <tr>
            <th>State</th>
            <td>@customer.State</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@customer.Country</td>
        </tr>
    </table>
}

@functions
{
    [Parameter]
    private string CustomerId { get; set; }

    private CustomerDto customer;

    protected override async Task OnInitAsync()
    {
        var id = int.Parse(CustomerId);

        customer = await apiClient.GetCustomer(id);
    }
}
