@using System.Threading.Tasks
@using Claimini.BlazorClient.Dto
@page "/customers"
@inject IApiClient apiClient;

<h1>Customers</h1>

@if (customers == null)
{
    <p><em>Loading Customers...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Street</th>
                <th>Street (additional)</th>
                <th>Zip Code</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.StreetAddress</td>
                    <td>@customer.StreetAddressAdditional</td>
                    <td>@customer.ZipCode</td>
                    <td>@customer.City</td>
                    <td>@customer.State</td>
                    <td>@customer.Country</td>
                </tr>
            }
        </tbody>
    </table>
}
@functions
{
    Customer[] customers;

    protected override async Task OnInitAsync()
    {
        customers = await apiClient.GetCustomers();
    }
}
