@using System
@using System.Collections.Generic
@using System.Threading.Tasks
@using Claimini.Shared
@using Microsoft.AspNetCore.Blazor
@using Microsoft.AspNetCore.Blazor.Components
@inherits Claimini.BlazorClient.Components.BaseComponent
@*<div class="form-group">
        <label for="PriceTotal">Created at</label>
        <label type="text" class="form-control" placeholder="Test Street 15" id="PriceTotal" bind="@invoice.StreetAddress" />
    </div>*@
@if (SelectedCustomer != null)
{
    <table class="table">
        <tr>
            <th>Name</th>
            <td>@SelectedCustomer.Name</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@SelectedCustomer.StreetAddress</td>
        </tr>
        <tr>
            <th>Address (additional)</th>
            <td>@SelectedCustomer.StreetAddressAdditional</td>
        </tr>
        <tr>
            <th>Zip Code</th>
            <td>@SelectedCustomer.ZipCode</td>
        </tr>
        <tr>
            <th>City</th>
            <td>@SelectedCustomer.City</td>
        </tr>
        <tr>
            <th>State</th>
            <td>@SelectedCustomer.State</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>@SelectedCustomer.Country</td>
        </tr>
    </table>
}
else
{
    <div class="form-group">
        <label for="CustomerSearch">Select Customer</label>
        <input type="search" id="CustomerSearch" onchange="@Search" />
    </div>

    if (foundCustomers != null)
    {
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            @foreach (var customer in foundCustomers)
            {
                <tr onclick=@(() => SelectCustomer(customer.Id))>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.StreetAddress</td>
                    <td>@customer.City</td>
                    <td>@customer.Country</td>
                </tr>
            }
        </table>
    }
}
<button type="submit" class="btn btn-success" onclick="@Submit">Save</button>

@functions
{
    [Parameter]
    private InvoiceDto invoice { get; set; } = new InvoiceDto();

    [Parameter]
    private Func<InvoiceDto, Task> OnSubmit { get; set; }

    [Parameter]
    private Customer SelectedCustomer { get; set; }

    private List<Customer> foundCustomers;

    private void Search(UIChangeEventArgs args)
    {
        Console.WriteLine($"Search Args: {args.Value}");

        this.foundCustomers = State.Customers.FindAll(x => x.Name.Contains(args.Value.ToString()));
    }

    private void Submit()
    {
        //Console.WriteLine(invoice.Name + invoice.StreetAddress);
        Task result = this.OnSubmit?.Invoke(invoice);
    }

    private void SelectCustomer(int customerId)
    {
        this.SelectedCustomer = State.Customers.Find(x => x.Id == customerId);

        if (this.SelectedCustomer == null)
        {
            Console.WriteLine($"Could not select customer with Id {customerId}");
            return;
        }

        Console.WriteLine($"Selected customer: {this.SelectedCustomer.Id} {this.SelectedCustomer.Name}");
    }

}
